<header>
    <div class="title">
        <p>Let Me Introduce My self</p>
    </div>
    <div class="details">
        <img class="picture" src="https://storage.googleapis.com/storage-quickstart-001/pexels-photo-220453.webp" alt="">
        <h3>Jhon Doe</h3>
        <p>Fullstack Developers</p>
    </div>
</header>
