<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header'); %>
    <main>
        <div class="content">
          <h2>About Me</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem placeat illo perspiciatis enim, voluptatibus inventore eveniet adipisci error aliquid delectus? Corporis excepturi impedit, nulla accusantium laboriosam eius vel! Officiis, tenetur!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolores? Dolor enim repudiandae, necessitatibus sequi magnam vero, fugiat nemo quis quia officia quo, dignissimos perspiciatis explicabo eum neque hic praesentium.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime vel cupiditate quibusdam alias quod sed dolor illo voluptates aspernatur provident eligendi, quo esse inventore neque, perferendis molestiae corrupti molestias porro!</p>
        </div>
        <div class="content">
          <h2>Personal Information</h2>
          <table>
            <tr>
              <th>Name : </th>
              <td>Jhon Doe</td>
            </tr>
            <tr>
              <th>Phone : </th>
              <td>+91-123-4567-890</td>
            </tr>
            <tr>
              <th>Email : </th>
              <td>jhondhoe@yopmail.com</td>
            </tr>
          </table>
        </div>
    </main>

    <footer>
      <p>Author: Jhon Dhoe</p>
      <p><a href="jhondoe@yopmail.com">jhondoe@yopmail.com</a></p>
    </footer>
  </body>
</html>
